<mat-card>
    <mat-card-title>Atualizar Produto</mat-card-title>
    <form>
       <mat-form-field>
           <input matInput placeholder="Nome" 
           [(ngModel)]="product.name" name="name">
       </mat-form-field> 
       <mat-form-field>
           <input matInput placeholder="Preço (R$)"
           [(ngModel)]="product.price" name="price" mask="separator.2" thousandSeparator=".">
       </mat-form-field> 
       <mat-form-field>
        <input matInput placeholder="Data"
        [(ngModel)]="product.date" name="date" mask="d0/m0/0000" [showMaskTyped]="true">
    </mat-form-field> 
    </form>
        <button mat-raised-button (click)="updateProduct()" color="primary">
        Atualizar
    </button>
    
    <button mat-raised-button (click)="cancel()">
        Cancelar 
    </button>
</mat-card>


